beartype
progressbar2
jinja2
langchain
parse
pydantic
tiktoken
tinydb
textual
markdown
# textwrap
humanize
rich
aiofiles
numpy
#langchain-community
identify
openai

# for openai compatible completion
#langchain-openai
#openlm

#openllm
litellm
