{% extends "search_template.html.j2" %}
{%block title%}
<title>Search Code By Comment</title>
{%endblock%}
{%block searchscript%}
<script type="text/javascript" defer>
    // Sample data for demonstration
    const data = {
{% for id, data in datadict.items() %}
    {{ id }}: {{ data }},
    {% endfor %}
        };

    const file_mapping = {
{% for k, v in file_mapping.items() %}
    {{ k }}: {{ v }},
    {% endfor %}
        };


    // Create a new FlexSearch instance with the required configuration
    const doc = new FlexSearch.Document({
        tokenize: "full",
        document: {
            id: "id",
            index: ["content"]
        }
    });

    // Add the data to the search index
    Object.keys(data).forEach(id => {
        doc.add(id, data[id]);
    });

    // Event listener for the search input
    function registerSearchEventListener() {
        document.getElementById('searchInput').addEventListener('input', function () {
            const searchTerm = this.value;
            const results = doc.search(searchTerm, 5); // Limiting to 5 results for demonstration

            // Display the search results
            const searchResults = document.getElementById('searchResults');
            searchResults.innerHTML = '';
            results.forEach(result => {
                const field = result.field; // "content"
                const ids = result.result;
                ids.forEach(id => {
                    const listItem = document.createElement('li');
                    const data_type = data[id].type;
                    listItem.textContent = `[${field}][${data_type}] ${data[id][field]}`;
                    searchResults.appendChild(listItem);
                });
            });
        });
    }
    document.addEventListener('DOMContentLoaded', registerSearchEventListener);
</script>
{%endblock%}
{%block stylesheet%}
<style type="text/css">
    body {
        font-family: 'Roboto', sans-serif;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        text-align: left;
        margin: 3%;
    }

    input[type="text"] {
        padding: 10px;
        /*border-radius: 10px;*/
        border: 2px solid #ccc;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    ul li {
        background-color: #f2f2f2;
        padding: 10px;
        margin: 5px;
        /*border-radius: 10px;*/
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        text-align: left;
    }
</style>
{%endblock%}
{%block body%}

<body>
    <div class="container">
        <h2><a href="{{repository_url}}" class="github-icon"><i class="fab fa-github"></i></a> Document Index of: {{partial_repository_url}} </h2>
        <input type="text" id="searchInput" placeholder="Search...">
        <ul id="searchResults"></ul>
    </div>
</body>
{%endblock%}